body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media(min-width: 990px){
    .container{
        width: 990px;
        margin: 60px auto;
        display: flex;
        gap: 40px;
        transition: .25s;
    }
    .feed{
        width: 560px;
        border: 1px solid lightgray;
        border-radius: 14px;
        padding: 10px;
        margin-bottom: 24px;
        transition: .25s;
    }
    .feed-img{
        width: 100%;
        border-radius: 14px;
        transition: .25s;
    }
    .profile{
        display: flex;
        gap: 8px;
        align-items: center;
        margin-bottom: 24px;
    }
    .user{
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 50%;
    }
    .bi{
        font-size: 24px;
    }
    .reactions{
        display: flex;
        justify-content: space-between;
    }
    .reactions-left{
        display: flex;
        gap: 16px;
    }
    .sidebar-title{
        margin-top: 0;
    }
    .links{
        display: flex;
        gap: 10px;
    }
    .link{
        height: 40px;
    }
    
    .story-container{
        width: 990px;
        display: flex;
        margin: 60px auto;
        gap: 16px;
    }
    
    .story-img{
        width: 90px;
        height: 90px;
        object-fit: cover;
        border-radius: 50%;
        transition: .25s;
    }
    .name{
        font-size: 14px;
    }
    .story{
        text-align: center;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        width: 990px;
        margin: 10px auto;
        align-items: center;
        transition: .25s;
    }
    .logo{
        height: 32px;
    }
    .btn{
        background-color: #fff;
        padding: 14px 24px;
        border-radius: 8px;
        border: 1px solid lightgray;
        font-size: 16px;
        transition: .25s;
    }
}


/* small screen */
@media(max-width: 989px){
    .container{
       
        margin: 60px auto;
    }
    .feed{
        border: 1px solid rgb(241, 241, 241);
        border-radius: 14px;
        padding: 8px;
        margin: 24px 8px;
        transition: .25s;

    }
    .feed-img{
        width: 100%;
        border-radius: 14px;
    }
    .profile{
        display: flex;
        gap: 8px;
        align-items: center;
        margin-bottom: 24px;
    }
    .user{
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 50%;
    }
    .bi{
        font-size: 24px;
    }
    .reactions{
        display: flex;
        justify-content: space-between;
    }
    .reactions-left{
        display: flex;
        gap: 16px;
    }
    .sidebar{
        text-align: center;
    }
    .sidebar-title{
        margin-top: 0;
    }
    .links{
        display: flex;
        gap: 10px;
        justify-content: center;
    }
    .link{
        height: 40px;
    }
    
    .story-container{
        width: 100%;
        display: flex;
        margin: 60px auto;
        gap: 16px;
        overflow-x: auto;
    }
    .story-container::-webkit-scrollbar{
        display: none;
    }
    .story-img{
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 50%;
        transition: .25s;
    }
    .name{
        font-size: 14px;
    }
    .story{
        text-align: center;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
       
        margin: 10px auto;
        align-items: center;
    }
    .logo{
        height: 32px;
    }
    .btn{
        background-color: white;
        padding: 12px 18px;
        border-radius: 6px;
        border: 1px solid lightgray;
        font-size: 14px;
    }
}