body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* class name always starts with a dot */
.heading{
    color: red;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.center{
    text-align: center;
}

/* div=> 1. to structure the code
        2. to apply the css to all inner elements in one shot

*/
/* box model
    border => thickness, style, color
    padding => space inside the border
    margin => space outside the border
*/
.box{
    border: 1px solid lightgray;
    width: 300px;
    padding: 10px;
    margin: 60px auto;
    border-radius: 14px;
}
.box-img{
    width: 100%;
    border-radius: 14px;
}
/* in padding and margin first value refers top and bottom
 and second refers left and right */


 .bg{
    width: 670px;
    margin: 60px auto;
    background-color: orangered;
    color: white;
    padding: 120px 40px;
    border-radius: 32px;
 }

.btn{
    background-color: white;
    border: none;
    padding: 16px 30px;
    font-size: 16px;
    border-radius: 80px;
}
.login{
    width: 500px;
    margin: 160px auto;
    text-align: center;
    border: 3px solid gray;
}
.input{
    width: 100%;
    margin-bottom: 10px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid gray;
    box-sizing: border-box;
}

/* box-sizing: border-box; ensures that the content does not go oout of the parent 
if its going out because of the padding */


.login-btn{
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    color: white;
    padding: 13px;
    border: none;
    font-size: 16px;
}

.logo{
    height: 46px;
}