/* flexbox and responsive */

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card{
   
    width: 244px;
    padding: 10px;
    border:1px solid lightgray;
    border-radius: 14px;
    /* margin-left: 30px; */
}
.card-img{
    width: 100%;
    border-radius: 14px;
}
.fav{
    position: absolute;
    top: 0;
    background-color: #fff;
    font-size: 14px;
    margin: 10px;
    padding: 3px 12px;
    border-radius: 40px;
}
.card-header{
    position: relative;
}
.flexbox{
    margin-top: 60px;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
/* justify-content is used to horizontally move the elements */

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* align-items is used to vertically move the elements */